.cart-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cart-container {
  position: fixed;
  top: 40px;
  right: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Added a max-width for better responsiveness */
}

.cart-container h2 {
  margin-top: 0;
  font-size: 18px; /* Increased the font size for better readability */
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover; /* Ensures the image fits within the container */
}

.cart-item h3 {
  margin: 0;
  font-size: 16px; /* Increased the font size for better readability */
  font-weight: bold; /* Added font weight for better emphasis */
}

.cart-item p {
  margin: 0;
  font-size: 14px; /* Increased the font size for better readability */
  color: #777; /* Changed the color to a lighter shade for better contrast */
}

.cart-count {
  color: orange;
  font-weight: bold; /* Added font weight for better emphasis */
  font-size: 18px; /* Increased the font size for better visibility */
}
